.navigation__id-showPopupAddPlaceBtn {
    background-image: url(../../../images/navigation_button.jpg);
    background-size: cover;
    width: 150px;
    height: 50px;
    margin-top: 40px;
    margin-left: 145px;
    border: none;
    
}

.navigation__id-showPopupAddPlaceBtn:hover {
    opacity: 60%;
    cursor: pointer;
}

@media (max-width: 320px ){
    .navigation__id-showPopupAddPlaceBtn {
        margin-left: 0;
        margin-top: 36px;
    }
}

