.footer__copyright {
    color: #545454;
    margin: 0;
    font-size: 18px;
    line-height: 21.78px;
    
}

@media (max-width: 320px ){
    .footer__copyright {
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        width: 282px;
        margin-left: auto;
        margin-right: auto;
        
    }
}