.content__images-delete {
    background-image: url(images/trash.svg);
    background-color: transparent;
    background-size: cover;
    border: none;
    height: 36px;
    width: 32px;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

@media (max-width:320px){
    .content__images-delete {
        background-image: url(images/trash.svg);
        background-color: transparent;
        background-size: cover;
        border: none;
        height: 36px;
        width: 32px;
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;
    }
}